.page-full{
  background: url("../../../images/ayrlomusic-background-full.svg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;

  .youtube-canvas{
    margin: 2rem;
    display: flex;
  }
  .page-group{
    //display: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-left: 1rem;
    overflow: auto;
    height: 55rem;

    iframe{
      align-content: space-between;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 3px solid #E1E1E1;
      border-radius: 6px 6px 6px 6px;
      width:13rem;
      height:10rem;
    }
  }

  .social-group{
    display: flex;
    margin-top:auto;
    align-content: space-between;

    small{
      background-color: #E1E1E1;
    }
  }
}

@media (min-width: 768px){
  .page-full{
    background: url("../../../images/ayrlomusic-background-full.svg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 4rem;

    .page-group{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      overflow: auto;
      height: 20rem;
      width: 25rem;
      margin: auto 0 1rem auto;
      background-color: rgba(255, 255, 255, 0.4);
      padding: 0.1rem;

      iframe{
        width: 39rem;
        height: 42rem;
        align-content: space-around;
        margin: 1rem auto;
        border: 2px solid #E1E1E1;
      }
    }
  }
}


